*{
    margin: 0px;
    padding: 0px;

}

#top {
    width: 100%;
    height: 10vh;
    background-color: blue;
}
#left {
    float: left;
    width: 50%;
    height: 80vh;
    background-color: rgb(255, 95, 89);
}
#right {
    float: right;
    width: 50%;
    height: 80vh;
    background-color: rgb(206, 241, 50);
}
#bottom {
  
    margin-top: 80vh;
    width: 100%;
    height: 10vh;
    background-color: rgb(50, 241, 193);
}
