
*{
     
    margin: 0;
    padding: 0;
}


header{
    background-color: brown;
    width: 100%;
    height: 40px;
}

ul li{
    
    float: left;
    list-style: none;
    margin: 10px 10px 0px 10px;

}
ul a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: aqua;
}

