*{
    margin: 0;
}
nav{
    background-color: blueviolet;
    display: flex;
    
    
}

ul li{
    list-style: none;
    float: left;
    padding: 5px;

}
a{
    text-decoration: none;
    color: white;
}
div{
    display: inline;
    width: 100%;
}
div iframe{
    justify-items: right;
}