
*{
    margin: 0px;
    padding: 0px;
}
#nav ul,
#nav li {
    list-style: none;
    float: left;
    margin: 5px;
    color: aliceblue;

}
#nav{
    background-color: blueviolet;
    width: 100%;
    height: 15vh;
}

a{
    color: white;
}